trunk/Restaurant/SCHEMAS/tableSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="table" >
        <xsd:complexType>
            <xsd:all>
                <xsd:element name="table_id" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="places" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="vip" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
            </xsd:all>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
